/* ---------- GLOBAL CSS ---------- */

body {
  --atd_cb: cubic-bezier(0.215, 0.61, 0.355, 1);
  --atd_ms: 450ms;
}

[atd-data] {
  overflow: hidden;

  position: relative;
  display: inline-block;
  padding: 0;
  margin: 0;

  vertical-align: text-bottom;

  z-index: 0;
}

[atd-data]::before {
  transition: var(--atd_ms) var(--atd_cb);

  z-index: -1;

  pointer-events: none;
}

/* ---------- DECORATIONS ---------- */

/* backliner */

*[atd-data="backliner"]::before {
  content: "";
  position: absolute;

  width: 0;
  height: 100%;
}

*[atd-data="backliner"]:hover::before {
  width: 100%;
  height: 100%;
}

/* half-backliner */

*[atd-data="half-backliner"]::before {
  content: "";
  position: absolute;
  bottom: 0;

  width: 0;
  height: 40%;
}

*[atd-data="half-backliner"]:hover::before {
  width: 100%;
  height: 40%;
}

/* overliner */

*[atd-data="overliner"]::before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 55%;

  width: 0;
  height: 0.1em;

  transform: translateY(-50%);
}

*[atd-data="overliner"]:hover::before {
  width: 100%;
}

/* underliner */

*[atd-data="underliner"]::before {
  content: "";
  position: absolute;
  bottom: 0;

  width: 0;
  height: 0.1em;
}

*[atd-data="underliner"]:hover::before {
  width: 100%;
}

/* OPTIONS */

/* anchor */

[atd-data][atd-anchor="left"]::before {
  left: 0;
}


[atd-data][atd-anchor="left"]:hover::before {
  left: 0;
}

[atd-data][atd-anchor="center"]::before {
  left: 50%;
}


[atd-data][atd-anchor="center"]:hover::before {
  left: 0;
}

[atd-data][atd-anchor="right"]::before {
  right: 0;
}


[atd-data][atd-anchor="right"]:hover::before {
  right: 0;
}

/* ending */

[atd-data][atd-ending="left"]::before {
  transform: translateX(0);

  transition: 1000ms var(--atd_cb);
}

[atd-data][atd-ending="left"]:hover::before {
  transform: translateX(100%);
}

[atd-data][atd-ending="right"]::before {
  transform: translateX(0);

  transition: 1000ms var(--atd_cb);
}

[atd-data][atd-ending="right"]:hover::before {
  transform: translateX(-100%);
}

/* begin */

[atd-data][atd-wbegin="10"]::before {
  width: 10%;
}

[atd-data][atd-wbegin="10"]:hover::before {
  width: 100%;
}

[atd-data][atd-wbegin="30"]::before {
  width: 30%;
}

[atd-data][atd-wbegin="30"]:hover::before {
  width: 100%;
}

[atd-data][atd-wbegin="50"]::before {
  width: 50%;
}

[atd-data][atd-wbegin="50"]:hover::before {
  width: 100%;
}

/* colors */

[atd-data][atd-color="white"]::before {
  background-color: var(--atd-white);
}

[atd-data][atd-color="black"]::before {
  background-color: var(--atd-black);
}

[atd-data][atd-color="red"]::before {
  background-color: var(--atd-red);
}

[atd-data][atd-color="green"]::before {
  background-color: var(--atd-green);
}

[atd-data][atd-color="blue"]::before {
  background-color: var(--atd-blue);
}

[atd-data][atd-color="yellow"]::before {
  background-color: var(--atd-yellow);
}

[atd-data][atd-color="orange"]::before {
  background-color: var(--atd-orange);
}

[atd-data][atd-color="custom1"]::before {
  background-color: var(--atd-custom1);
}

[atd-data][atd-color="custom2"]::before {
  background-color: var(--atd-custom2);
}

[atd-data][atd-color="custom3"]::before {
  background-color: var(--atd-custom3);
}
